.viewProductContainer {
    min-height: 1000px;
}

.viewProductUpperBottomImg {
    width: 240px;
}

.viewProductShoesImg {
    width: 500px;
}

@media screen and (max-width: 768px) {
    .viewProductUpperBottomImg {
        width: 200px;
    }
    
}

@media (min-width: 768px) and (max-width: 1070px){
    .viewProductShoesImg {
        width: 350px;
    }
}

@media screen and (max-width: 500px) {
    .viewProductShoesImg {
        width: 290px;
    }
}

/* do media between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .btn-outline-danger {
        margin: 10px;
    }
}


@media (min-width: 768px) {
    .view-product-image-container {
        /* Do border right */
        padding-right: 100px;
    }
    .viewProductInfo {
        padding-left: 100px;
        border-left: 1px solid #89898964;
    }
    
}

@media (max-width: 767px) {
    /* Do border below it */
    .view-product-image-container {
        padding-bottom: 30px;
        border-bottom: 1px solid #89898964;
    }
    .viewProductInfo {
        margin-top: 30px;
    }
}

@media (max-width: 360px) {
    .btn-outline-danger {
        margin: 10px;
    }
}